<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/login.ejs">
  </head>
  <body>
    <h1><%= title %></h1>
    <h3><p>Avances en computacion </p></h3>
    <p>Bienvenidos </p>

  </body>
</html>
